
## Freeze requirements
pip3 freeze > requirements.txt
 # Install requirements from your shell
pip install -r requirements.txt 
# Install updated requirements from Python script
pur -r requirements.txt 

# Now install the new requirements for pip to install
pip install -r requirements.txt



